CREATE TABLE `knex_migrations` (`id` integer not null primary key autoincrement, `name` varchar(255), `batch` integer, `migration_time` datetime);
INSERT INTO knex_migrations VALUES(1,'20260615000000_init_schema.ts',1,1781498995533);
INSERT INTO knex_migrations VALUES(2,'20260615000001_add_org_profile_and_smtp.ts',2,1781500938865);
CREATE TABLE `knex_migrations_lock` (`index` integer not null primary key autoincrement, `is_locked` integer);
INSERT INTO knex_migrations_lock VALUES(1,0);
CREATE TABLE `organizations` (`id` char(36), `name` varchar(255) not null, `slug` varchar(255) not null, `stripe_customer_id` varchar(255) null, `stripe_subscription_id` varchar(255) null, `subscription_status` varchar(255) not null default 'none', `subscription_plan` varchar(255) not null default 'free', `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, `address` text null, `tax_id` varchar(255) null, `phone` varchar(255) null, `logo_url` varchar(255) null, `smtp_host` varchar(255) null, `smtp_port` integer null, `smtp_user` varchar(255) null, `smtp_pass` varchar(255) null, `smtp_from` varchar(255) null, primary key (`id`));
INSERT INTO organizations VALUES('bd3e2e43-261b-431d-8803-01f5fe211537','HM Finance','hm-finance-8333',NULL,'mock_sub_skcuzb0a0g','active','growth',1781499535961,1781515783134,'Kalayan Colony, BH Oil Meal Road, Hathras UP - 204101','US12345678','9368153189','/uploads/1781515783080-91875133.jpg','smtp.gmail.com',587,'hmorix.in@gmail.com','qoqb tuql qyxa edli','hmorix.in@gmail.com');
CREATE TABLE `users` (`id` char(36), `organization_id` char(36) not null, `name` varchar(255) not null, `email` varchar(255) not null, `password_hash` varchar(255) not null, `role` varchar(255) not null default 'member', `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`organization_id`) references `organizations`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO users VALUES('31a17381-626f-4e01-bbe4-a59111990c22','bd3e2e43-261b-431d-8803-01f5fe211537','Harsh','aujjhaarav@gmail.com','$2a$10$TM.uyUZlEfjSseFbMtfBzOuFIn.cdxXAlRBPkhS5YiNWqrBFrJi8S','admin',1781499535964,1781499535964);
CREATE TABLE `clients` (`id` char(36), `organization_id` char(36) not null, `name` varchar(255) not null, `email` varchar(255) not null, `company_name` varchar(255) null, `tax_id` varchar(255) null, `address` text not null, `phone` varchar(255) null, `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`organization_id`) references `organizations`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO clients VALUES('0800bb96-0b6d-42ca-8d38-23a1ef31c9b1','bd3e2e43-261b-431d-8803-01f5fe211537','Ratan ','hssuperuserc@gmail.com','Shyam Capital ','US12345678','Gujrat ','1234567890',1781499598755,1781499847556);
INSERT INTO clients VALUES('71d2021d-7550-4ee6-a827-316530ff4bbc','bd3e2e43-261b-431d-8803-01f5fe211537','HMorix','hssuperuserc@gmail.com','HMorix','US12345678','Uttar Pradesh ','9368153189',1781507473983,1781516515673);
INSERT INTO clients VALUES('5e974bb8-def8-45ef-a8ca-5e6a0b6a7701','bd3e2e43-261b-431d-8803-01f5fe211537','Manik','nooneexistforyou@gmail.com','Manik Coperation','US12345678','Sikna Pan Gali, Chuna wala Danda, Hathras, UP, 204101','12345678',1781521565833,1781521565833);
CREATE TABLE `invoices` (`id` char(36), `organization_id` char(36) not null, `client_id` char(36) not null, `invoice_number` varchar(255) not null, `status` varchar(255) not null default 'draft', `issue_date` date not null, `due_date` date not null, `tax_rate` float not null default '0', `discount` float not null default '0', `currency` varchar(255) not null default 'USD', `notes` text null, `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`organization_id`) references `organizations`(`id`) on delete CASCADE, foreign key(`client_id`) references `clients`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO invoices VALUES('4aba3909-cbd6-4225-b931-016e4c49203f','bd3e2e43-261b-431d-8803-01f5fe211537','0800bb96-0b6d-42ca-8d38-23a1ef31c9b1','INV-0001','draft','2026-06-15','2026-07-20',18.0,1800.0,'INR','Please  pay on time ',1781499740974,1781507402909);
INSERT INTO invoices VALUES('9db16570-79ed-42b1-a5af-c1d2835f61f5','bd3e2e43-261b-431d-8803-01f5fe211537','71d2021d-7550-4ee6-a827-316530ff4bbc','INV-0002','sent','2026-06-15','2026-07-30',18.0,2000.0,'INR','Please Pay On Time ',1781507656634,1781514180220);
INSERT INTO invoices VALUES('b2605957-645f-43cb-aee1-00558a75a3be','bd3e2e43-261b-431d-8803-01f5fe211537','5e974bb8-def8-45ef-a8ca-5e6a0b6a7701','INV-0003','draft','2026-06-11','2026-07-15',18.0,100.0,'INR','Payment on time ',1781521629809,1781521629809);
CREATE TABLE `invoice_items` (`id` char(36), `invoice_id` char(36) not null, `description` varchar(255) not null, `quantity` float not null, `unit_price` float not null, `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`invoice_id`) references `invoices`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO invoice_items VALUES('f49882f6-a923-469e-9c72-93c2829fb824','4aba3909-cbd6-4225-b931-016e4c49203f','Health Ensaurance ',2.0,15000.0,1781507402913,1781507402913);
INSERT INTO invoice_items VALUES('9f4c65ee-d20c-418b-a806-d8b5cac9743c','4aba3909-cbd6-4225-b931-016e4c49203f','Car Insaurance',1.0,10000.0,1781507402913,1781507402913);
INSERT INTO invoice_items VALUES('5346c01b-6e1d-41f7-9f76-c582e62a3aad','4aba3909-cbd6-4225-b931-016e4c49203f','Mobile Insaurance ',1.0,1500.0,1781507402913,1781507402913);
CREATE TABLE `payments` (`id` char(36), `organization_id` char(36) not null, `invoice_id` char(36) not null, `amount` float not null, `payment_method` varchar(255) not null, `payment_date` date not null, `notes` text null, `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`organization_id`) references `organizations`(`id`) on delete CASCADE, foreign key(`invoice_id`) references `invoices`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO payments VALUES('080a3de1-743c-483d-a1ec-4a716821e836','bd3e2e43-261b-431d-8803-01f5fe211537','4aba3909-cbd6-4225-b931-016e4c49203f',46846.0,'cash',1781507338928,'Cash Transfer',1781507338928,1781507338928);
CREATE TABLE `email_logs` (`id` char(36), `organization_id` char(36) not null, `invoice_id` char(36) not null, `to_email` varchar(255) not null, `subject` varchar(255) not null, `body` text not null, `created_at` datetime not null default CURRENT_TIMESTAMP, `updated_at` datetime not null default CURRENT_TIMESTAMP, foreign key(`organization_id`) references `organizations`(`id`) on delete CASCADE, foreign key(`invoice_id`) references `invoices`(`id`) on delete CASCADE, primary key (`id`));
INSERT INTO email_logs VALUES('c6d89ac2-157c-46a5-805d-0089aa63e573','bd3e2e43-261b-431d-8803-01f5fe211537','4aba3909-cbd6-4225-b931-016e4c49203f','Ratan@gmail.com','Reminder: Invoice INV-0001 is pending payment',unistr('Dear Ratan ,\u000a\u000aThis is a friendly reminder that Invoice INV-0001 issued on 15/6/2026 is pending payment.\u000a\u000aTotal Due: INR 46846.00\u000aDue Date: 20/7/2026\u000a\u000aPlease process the payment as soon as possible.\u000a\u000aThank you,\u000aAdministration'),1781499744953,1781499744953);
INSERT INTO email_logs VALUES('9a21eace-5f39-484b-8fd5-f3e2f9ee5002','bd3e2e43-261b-431d-8803-01f5fe211537','4aba3909-cbd6-4225-b931-016e4c49203f','hssuperuserc@gmail.com','Reminder: Invoice INV-0001 is pending payment',unistr('Dear Ratan ,\u000a\u000aThis is a friendly reminder that Invoice INV-0001 issued on 15/6/2026 is pending payment.\u000a\u000aTotal Due: INR 46846.00\u000aDue Date: 20/7/2026\u000a\u000aPlease process the payment as soon as possible.\u000a\u000aThank you,\u000aAdministration'),1781499850739,1781499850739);
INSERT INTO email_logs VALUES('cf5ac6f2-90c5-4df3-915f-a131c544c7ec','bd3e2e43-261b-431d-8803-01f5fe211537','4aba3909-cbd6-4225-b931-016e4c49203f','hssuperuserc@gmail.com','Reminder: Invoice INV-0001 is pending payment',unistr('Dear Ratan ,\u000a\u000aThis is a friendly reminder that Invoice INV-0001 issued by HM Finance on 15/6/2026 is pending payment.\u000a\u000aTotal Due: INR 46846.00\u000aDue Date: 20/7/2026\u000a\u000aPlease process the payment as soon as possible.\u000a\u000aThank you,\u000aHM Finance'),1781505804555,1781505804555);
CREATE UNIQUE INDEX `organizations_slug_unique` on `organizations` (`slug`);
CREATE UNIQUE INDEX `users_email_unique` on `users` (`email`);
CREATE INDEX `clients_organization_id_index` on `clients` (`organization_id`);
CREATE UNIQUE INDEX `invoices_organization_id_invoice_number_unique` on `invoices` (`organization_id`, `invoice_number`);
CREATE INDEX `invoices_organization_id_index` on `invoices` (`organization_id`);
CREATE INDEX `invoices_client_id_index` on `invoices` (`client_id`);
CREATE INDEX `invoice_items_invoice_id_index` on `invoice_items` (`invoice_id`);
CREATE INDEX `payments_organization_id_index` on `payments` (`organization_id`);
CREATE INDEX `payments_invoice_id_index` on `payments` (`invoice_id`);
CREATE INDEX `email_logs_organization_id_index` on `email_logs` (`organization_id`);
